.product-card:hover {
    box-shadow: -2px 2px 5px 0px #b0acac;
    cursor: pointer;
}

.Product-Image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e9e9e9;
    padding: 1rem;
}