.main-container {
    background: url('https://mdbootstrap.com/img/new/fluid/city/008.jpg');
    background-size: cover;
}

.bg-color {
    background-color: #141718cc;
    padding: 3rem;
    padding: 5rem 3rem;
}

.auth-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 3rem;
    max-width: 50%;
    margin: 0 auto;
}

.forgot-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}