/* ------------------------ (auth.css) ------------------------ */
.main-container {
    background: url('https://mdbootstrap.com/img/new/fluid/city/008.jpg');
    background-size: cover;
}

.bg-color {
    background-color: #141718cc;
    padding: 3rem;
    padding: 5rem 3rem;
}

.auth-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 3rem;
    max-width: 50%;
    margin: 0 auto;
}

.forgot-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ------------------------ (auth.css) ------------------------ */


/* ------------------------ (product.css) ------------------------ */
.detail-container {
    display: flex;
    justify-content: space-between;
}

.left-box {
    width: 60%;
}

.right-box {
    width: 38%;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-size {
    width: 50%;
}

.row-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin: 0.5rem 0;
}

.seller-pic {
    width: 3rem;
}

/* ------------------------ (product.css) ------------------------ */


/* ------------------------ (navbar.css) ------------------------ */
.Logo {
    width: 20%;
    border-radius: 0.5rem;
}

.navbar-collapse {
    flex-grow: 0;
}

/* ------------------------ (navbar.css) ------------------------ */


/* ------------------------ (card.css) ------------------------ */
.product-card:hover {
    box-shadow: -2px 2px 5px 0px #b0acac;
    cursor: pointer;
}

.Product-Image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e9e9e9;
    padding: 1rem;
}

.Product-image {
    width: 10rem;
    height: 10rem;
}

/* ------------------------ (card.css) ------------------------ */

/* ------------------------ (Home/index.js) ------------------------ */

.row {
    justify-content: center;
}

/* ------------------------ (Home/index.js) ------------------------ */